@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>

<p>АгроПромИЕ - это слаженная компания , с перспективами для будующих работников.</p>
<p>Мы занимаемся производством растительной и животноводческой продукции.</p>
<p>Имеются скидки для оптовых заказов.</p>
<p>Каждый участок проходит тщательную проверку.</p>
