@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>АгрПромИЕ</h1>
    <p class="lead">Природа наше всё</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Читать далее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Мы производим высококачественную продукцию</h2>
        <p>
            Технологии производства и обработки продукции позваляют получить товар высокого качества.
        </p>
        <p><a class="btn btn-default" href="https://google.com">Читать далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Мы используем новейшие технологии</h2>
        <p>Инструменты используемые нашими работниками позволяют сделать наш товар более выгодным , за счёт легкого и качественного процесса обработки участков.</p>
        <p><a class="btn btn-default" href="https://google.com">Читать далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Мы производим полный контроль на предприятии</h2>
        <p>Используемая нами система контроля параметров окружения позволяет получать качественный товар без возможности брака.</p>
        <p><a class="btn btn-default" href="https://google.com">Читать далее &raquo;</a></p>
    </div>
</div>