@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>

<address>
    Россия<br />
    Ульяновск, Северный Венец 32<br />
    <abbr title="Номер">Телефон:</abbr>
    +7(8422) 43-06-43
</address>

<address>
    <strong>Поддержка:</strong>   <a href="https://ulstu.ru"> Перейти на сайт </a><br />
</address>